/* CSS for AudioXBlock */

.audio_block .count {
    font-weight: bold;
}

.audio_block p {
    cursor: pointer;
}

.content {
   width: 50%;
   margin: 0px auto;
}

.embed-container {
   height: 0;
   width: 100%;
   padding-bottom: 56.25%; /* play with this until right */
   overflow: hidden;
   position: relative;
}

.embed-container embed {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}